{% extends "robot/base.html" %}

{% block content %}
	<h1>Tours Page</h1>
	{% for tour_planner in tour_planner %}
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
				<a class="mr-2" href="#">{{ tour_planner.location }}</a>
				<small class="text-muted">{{ tour_planner.created_by }}</small>
				</div>
				<h2><a class="article-title" href="#">{{ tour_planner.name }}</a></h2>
				<p class="article-content">{{ tour_planner.tour_type }}</p>
			</div>
		</article>
	{% endfor %}
	
{% endblock content %}
